<li id="step_age" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Step Title'" data-role="title"></div>
    <div id="checkout-step-title"
        class="step-content"
        data-role="content">
        <form id="custom-checkout-form"
            class="form"
            data-bind=" attr: {'data-hasrequired': $t('* Required Fields')},
                                validationKey: false,
                                submit: navigateToNextStep"
            novalidate="novalidate">
            <fieldset class="fieldset">
                <legend data-bind="i18n: 'Custom Checkout Form'"></legend>
                <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->

                <!--my example html for js-->
                <label data-bind="i18n: 'Name'"></label>
                <input class="input-text required" type="text" data-bind="value:customerFirstName"/>

                <label data-bind="i18n: 'Phone'"></label>
                <input class="input-text required" type="text"  data-bind="value:customerPhone" />

                <label data-bind="i18n: 'Age'"></label>
                <select data-bind="value:customerYear, options: customerDataYear, optionsCaption: 'Choose one...'">
                    <option data-bind="$data"></option>
                </select>

            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" data-role="opc-continue" class="button action continue primary">
                        <span data-bind="i18n: 'Next'"><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>

                </div>
            </div>
        </form>
    </div>
</li>